<footer>
    <div class="footer-heading">
        <p><i class="fa fa-copyright"></i>.Coding Ninjas. All Rights Reserved</p>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/profile">Profile</a></li>
        </ul>
    </div>
</footer>