<header>
    <div class="header-heading">
        <h1 > <a href="/" style="text-decoration: none; color: white;"> codeial </a></h1>
    </div>

    <div class="header-links">
        <ul>
            <% if(locals.user){ %>
                <li>
                    <a href="/users/profile">
                        <%= user.name %>
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out">Log Out</a>
                </li>
            <% }else{ %>

                <li>
                    <a href="/users/sign-in">Log In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>

            <% } %>    
        </ul>
    </div>
</header>