<link rel="stylesheet" href="/css/forgot-password.css">

<form action="/users/reset-password" method="POST">
    <input type="email" name="email" placeholder="enter email" required>
    <button type="submit">Send Email</button>
</form>