<link rel="stylesheet" href="">

<form action="/users/reset-password/<%= accessToken %>" method="POST">
    <input type="password" name="password" placeholder="enter password" required><br>
    <input type="password" name="confirm_password" placeholder="confirm password" required>
    <button type="submit">New password</button>
</form>