
#layout-footer{
    color: white;
    height: 25px;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-nav{
        float: right;
        ul{ 
            display: flex;
            list-style: none;
            li{
                margin: auto 10px;
            }
        }
    }
}