header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #3b5998;

   .header-heading{
       display: flex;
       align-items: center;
       margin-left: 20px;
       h1{
           color: white;
           font-size: 2rem;
           cursor: pointer;
        }
    }
    .header-links{
        display: flex;
        align-items: center;
        width: 250px;
        height: 40px;
        margin-right: 25px;
        margin-top: 5px;

        ul{ 
            padding: 0;
            height: 100%;
            width: 100%;
            display: inline-flex;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.85);
                    font-size: 1.5rem;
                }
                a:hover{
                    color:white ;
                }
            }
        }
    }
}