footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 2rem;
    color: black;
   /* background-image: linear-gradient(135deg, #6f86d6,#48c6ef);*/
}