* {
  margin: 0;
  padding: 0; }

main {
  height: 89.5vh !important;
  display: flex;
  justify-content: space-around; }

.box {
  width: 400px;
  padding: 40px;
  margin: auto;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.75);
  text-align: center; }

.box h1 {
  color: black;
  padding-bottom: 10px;
  font-weight: 500; }

.box input[type="email"], .box input[type="password"] {
  border: none;
  outline: none;
  width: 250px;
  color: black;
  background: none;
  display: block;
  margin: 10px auto;
  padding: 14px 10px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #3b5998;
  transition: .25s; }

.box input[type="email"]:focus, .box input[type="password"]:focus {
  width: 320px;
  border-color: #2ecc71; }

.box button[type="submit"] {
  border: none;
  outline: none;
  color: gray;
  background: none;
  display: block;
  margin: 10px auto;
  padding: 14px 40px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #3b5998;
  transition: .25s;
  cursor: pointer; }

.box button[type="submit"]:hover {
  color: white;
  background-color: #3b5998; }

form p {
  color: rgba(0, 0, 0, 0.788);
  font-size: .9rem;
  text-align: start;
  padding: 0 0 0 20%; }

form p a {
  text-decoration: none;
  color: #00ccff; }
  form p a:hover {
    text-decoration: underline; }
